body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Merriweather", serif;
    background-color: #0D1321;
    overflow-x: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.coding__example__page__body__inner {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;    
}

.projects__card__image {
    display: flex;
    height: 50%;
    width: 100%;
    
    padding-bottom: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    h1{
        display: flex;
        width: 200px;
        padding-top: 150px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: #E9C46A;
        text-transform: capitalize;
        text-decoration: none;
        text-align: center;
        
    }

    hr{
        display: flex;
        border: solid #E9C46A 2px;
        width: 20%;
        margin: 30px 200px 2px 195px;
        padding-left: 40px;
    }
}

.projects__text {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}


// Plan to make the images of the code expand on
// touch and click.
.projects__card__image__inner {
    display: flex;
    height: 80%;
    width: 80%;
    background: url(/assets/Validator.png);
    background-size: 100% 100%;
    margin-top: 17px;
    border: solid 3px #E9C46A;
    border-radius: 16px;
    padding-bottom: 400px;
}

.projects__text__inner {
    display: flex;
    height: 80%;
    width: 80%;
    background-color: none;
    border: solid 3px #E9C46A;
    padding-bottom: 304px;
    background-color: #1f756b;
    border-radius: 16px;
    margin-top: 365px;
}

.projects__text__inner__paragraphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 20px 5px 20px;

    p {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        justify-content: flex-start;
        text-align: left;
        font-family: inherit;
        font-size: 17px;
        color: #f3e0ac;
        padding: 5px 20px 0px 20px;
        margin-top: 2px;
    }

    
}

@media (min-width: 700px){



    .projects__text__inner {
        display: flex;
        height: 70%;
        width: 80%;
        background-color: none;
        border: solid 3px #E9C46A;
        padding-bottom: 0px;
        background-color: #1f756b;
        border-radius: 16px;
        margin-top: 500px;
    }
    
    
    
}
    
    @media (min-width: 1200px){
        .coding__example__page__body__inner{
             flex-direction: row;
             margin-left: 150px;
        }
        
        .projects__card__image {
            height: 100%;
            width: 100%;
           margin-bottom: 100px;
           margin-left: 200px;
           

        
        }

        .projects__card__image__inner {
            width: 80%;
            padding-left: 100px;
        }



        .projects__text__inner {
            height: 90%;
            width: 70%;
            margin-top: 250px;
            margin-right: 450px;
            margin-left: 30px;
            padding-bottom: 95px;
            // padding-right: 300px;
            
        }

        .projects__text__inner__paragraphs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin: 5px 40px 5px 20px;
        
            p {
                display: flex;
                flex-direction: column;
                word-wrap: break-word;
                justify-content: flex-start;
                text-align: left;
                font-family: inherit;
                font-size: 17px;
                color: #f3e0ac;
                padding: 5px 0px 0px 20px;
                margin-top: 2px;
                width: 100%;
            }
        
            
        }

        .projects__text {

            flex-wrap: wrap;
            flex-direction: column;
            width: 70%;
        }






    }
