body {
    display: flex;
    height: 100%;
    width: 100vw;
    margin: 0px;
    font-family: "Merriweather", serif;
    background-color: #0D1321;
    overflow-x: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.coding__example__page__body__inner {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;

    // h1 {
    //     display: flex;
    //     color: #E9C46A;
    //     height: 50%;
    //     flex-direction: column;
    //     font-size: 50px;
    //     text-transform: capitalize;
    //     align-items: center;
    //     justify-content: center;
    //     padding-top: 4em;

    //     hr {
    //         display: flex;
    //         border: solid #E9C46A 2px;
    //         width: 30%;
    //         margin: 20px 200px 2px 200px;
    //     }
    // }
    
    
    
}

.projects__card__image {
    display: flex;
    height: 50%;
    width: 100%;
    
    padding-bottom: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    h1{
        padding-top: 184px;
        margin-bottom: 0px;
        color: #E9C46A;
        text-transform: capitalize;
        text-decoration: underline;
    }
}

.projects__text {
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: center;
}


// Plan to make the images of the code expand on
// touch and click.
.projects__card__image__inner {
    display: flex;
    height: 80%;
    width: 80%;
    background: url(/assets/Validator.png);
    background-size: 100% 100%;
    margin-top: 17px;
    border: solid 3px #E9C46A;
    border-radius: 16px;
    padding-bottom: 700px;
}

.projects__text__inner {
    display: flex;
    height: 80%;
    width: 80%;
    background-color: none;
    border: solid 3px #E9C46A;
    padding-bottom: 50px;
    background-color: #1f756b;
    border-radius: 16px;
    margin-top: 500px;
}

.projects__text__inner__paragraphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 20px 5px 20px;

    p {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        justify-content: flex-start;
        text-align: left;
        font-family: inherit;
        font-size: 17px;
        color: #f3e0ac;
        padding: 5px 20px 0px 20px;
        margin-top: 2px;
    }

    
}

