.projects {
    display: flex;
    width: 40%;
    height: 10em;
    margin: 4em 0em;

    background-color: red;
}

.projects__inner {

}

.projects__inner__cards {

}

.projects__inner__cards__image {

}