// 
// Whole nav bar
.main__nav {
    display:flex;
    height: 120.250px;
    width: 77.266px;
    border: solid 3px #E9C46A;
    border-radius: 16px;
    overflow-x: hidden; /* Disables horizontal scroll */
    overflow-y: hidden;
    position: fixed;
    left: 0;
    background-color: #0D1321;
    margin: 1.5em 0em 0em 1.5em;
    
}
// 
// Inner of the nav bar
.main__inner__nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
// 
// 
.main__iner__nav__burger__menu {
    display: flex;
    width: 14%;
    height: 10em;
    background-color: #0D1321;
    color: #2A9D8F;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.main__inner__nav__top__box {
    display: flex;
    font-size: 4em;
    width: inherit;
    height: 1em;
    justify-content: center;
    border-bottom: solid 3px#E9C46A;
    color: #E9C46A;
    flex-direction: column;
    align-items: center;

    a{
        color: #E9C46A;
        text-decoration: none;
    }
}
// 
.main__inner__nav__links {
    display: flex;
    width: 100%;
    height: 12em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-transform: capitalize;
    justify-content: center;
    padding-top: 1.8em;
    
    a {
        color: #2A9D8F;
        padding: 10px 0px 10px 0px;
    }
}
// 
.main__inner__nav__contact {
    display: flex;
    width: 100%;
    height: 3em;
    border-top: 3px solid #E9C46A;
    border-bottom: 3px solid #E9C46A;
    color: #2A9D8F;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
// 
.main__inner__nav__social {
    display: flex;
    width: 100%;
    height: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 20px;
    
    
    a {
        color: #E9C46A;
    }
    
}



/* button */
button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  }
  
  button:active {
    border: none;
  }
  
  button img {
    max-width: 32px;
  }

  /* This changes color of the 
    SVG file. */  
  .filter {
    filter: invert(94%) 
            sepia(6%) 
            saturate(25%) 
            hue-rotate(269deg) 
            brightness(106%) 
            contrast(105%);
  }

  /* nav */
  ul.nav__drop__down {
    display: flex;
    position: fixed;
    z-index: 99999;
    background: #0D1321;
    border: 4px solid #E9C46A;
    border-radius: 16px;
    padding: 15px;
    min-width: 200px;
    max-width: 250px;
    height: 400px;
    font-size: 26px;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
    margin: 22px 0px 0px 119px;
    text-decoration: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
 
  

  /* Selects the Links in the
    un-ordered list of the class. */
  ul.nav__drop__down a {
    display: flex;
    margin: 3px;
    height: 100%;
    text-decoration: none;
    color: #E9C46A;
  }